<div class="row">
  <div class="span6">
    <p>A natural and healthy start to life. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    <%= link_to image_tag("HangBoard.png", alt: "6 Reasons to shop at Natural Organics"), '#' %>
    <%= link_to image_tag("HangBoard.png", alt: "Sign up for newsletter"), '#' %>
  </div>
  <div class="span6">
    <ul class="thumbnails">
      <li class="span3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
        </a>
        <p>Buy</p>
      </li>
      <li class="span3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
        </a>
        <p>Buy</p>
      </li>
      <li class="span3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
        </a>
        <p>Buy</p>
      </li>
      <li class="span3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
        </a>
        <p>Buy</p>
      </li>

    </ul>
  </div>
</div>
