<div class="row">
  <div class="span4">
    <%= link_to image_tag("Logo.png", alt: "Rails"), 'home' %>
  </div>
  <div class="span4 offset4">
    <form class="navbar-search pull-left">
      <input type="text" class="search-query" placeholder="Search">
    </form>
  </div>
</div>
<div class="row">
  <ul class="nav nav-tabs">
    <li class="active span1"><a href="home">Home</a></li>
    <li class="span2"><a href="#">Pregnancy</a></li>
    <li class="span2"><a href="#">Labour and Birth</a></li>
    <li class="span2"><a href="#">Breastfeeding</a></li>
    <li class="span3"><a href="#">Babies and Children</a></li>
    <li class="span2"><a href="#">Remedies</a></li>          
  </ul>
</div>